In [1]:
import pandas as pd
df = pd.read_csv('1973-UC-Berkeley-Admission-Data-Synthesis-Data.csv')

In [2]:
df

  Department  Male-Admitted  Male-Denied  Female-Admitted  Female-Denied
0          A            512          313               89             19
1          B            313          207               17              8
2          C            101          205              202            391
3          D            138          279              131            244
4          E             40          138               94            299
5          F             22          351               24            317

In [3]:
df.sum(axis=0)

Department         ABCDEF
Male-Admitted        1126
Male-Denied          1493
Female-Admitted       557
Female-Denied        1278
dtype: object

In [4]:
# sum = df.loc[:, 'Male-Admitted':'Female-Denied'].sum(axis=0) 
sum = df.sum(axis=0)
sum_row = pd.DataFrame(sum).transpose()

In [5]:
sum_row

  Department Male-Admitted Male-Denied Female-Admitted Female-Denied
0     ABCDEF          1126        1493             557          1278

In [6]:
df = pd.concat([df, sum_row],ignore_index=True)

In [7]:
df['Male Ratio'] = df['Male-Admitted'] / (df['Male-Admitted']+ df['Male-Denied'])
df['Male Ratio'] = df['Male Ratio'].map(lambda x:format(x,'2.0%'))

In [8]:
df['Female Ratio'] = df['Female-Admitted'] / (df['Female-Admitted']+ df['Female-Denied'])
df['Female Ratio'] = df['Female Ratio'].map(lambda x:format(x,'2.0%'))

In [9]:
df['Department'] = df['Department'].replace({'ABCDEF':'Total'})

In [10]:
df

,Department,Male-Admitted,Male-Denied,Female-Admitted,Female-Denied,Male Ratio,Female Ratio
0,A,512,313,89,19,62%,82%
1,B,313,207,17,8,60%,68%
2,C,101,205,202,391,33%,34%
3,D,138,279,131,244,33%,35%
4,E,40,138,94,299,22%,24%
5,F,22,351,24,317,6%,7%
6,Total,1126,1493,557,1278,43%,30%

In [30]:
# To group Male-Admitted & Male-Denied as Male, but failed
#try1 : df.rename(columns=...)
#try2 : pd.MultiIndex.from_product...