Data downloaded from:
* www.jenster.com/nottingham.xlsx
* www.jenster.com/index.xlsx

Those data are part of a workshop called "descriptive analysis" conducted by Jenifer on GICJ2017 in South Africa

## Cheating our children

Read the related news here:

* http://www.ajc.com/news/cheating-our-children/scores/

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_excel('nottingham.xlsx')

In [3]:
df.head()

,RecType,Schoolme,Address1,Address2,Address3,Town,PostCode,TelNum,SchoolType,TotPup,TotElig,AVG_ENG_MATH_SCORE_07,AVG_ENG_MATH_SCORE_08,AVG_ENG_MATH_SCORE_09,AVG_ENG_MATH_SCORE_10,P_ABSENT_PERSIST
0,1,Claremont Primary and Nursery School,Claremont Road,Off Huckll Road,,Nottingham,NG5 1BH,0115 9156870,CY,337,49.0,25.1,26.0,26.2,26.4,11.3
1,1,Windmill Primary & Nursery School,Sneinton Boulevard,,,Nottingham,NG2 4FZ,0115 9150195,CY,442,86.0,24.9,25.2,23.9,24.7,8.6
2,1,Stanstead Nursery and Primary School,Stanstead Avenue,Rise Park,Stanstead Avenue,Nottingham,NG5 5BL,0115 9156300,CY,198,24.0,28.0,25.5,27.1,24.7,7.7
3,1,Nottingham Academy,Sneinton Boulevard,,Sneinton,Nottingham,NG2 4GL,0115 9103200,AC,2170,68.0,NaN,NaN,NaN,NaN,7.6
4,1,Southwark Primary School,Bulwell Lane,Old Basford,,Nottingham,NG6 0BS,0115 9150466,CY,531,69.0,27.1,26.6,27.4,26.8,7.3

In [4]:
df.describe()

,RecType,TotPup,TotElig,AVG_ENG_MATH_SCORE_07,AVG_ENG_MATH_SCORE_08,AVG_ENG_MATH_SCORE_09,AVG_ENG_MATH_SCORE_10,P_ABSENT_PERSIST
count,207.000000,207.000000,205.000000,179.000000,182.000000,187.000000,139.000000,193.000000
mean,1.057971,257.705314,37.097561,27.497207,27.518681,27.566845,27.720863,2.067876
std,0.234255,175.026559,18.858613,2.031865,1.667029,1.641424,1.727295,1.982187
min,1.000000,0.000000,2.000000,15.000000,22.900000,23.500000,23.300000,0.000000
25%,1.000000,179.000000,25.000000,26.200000,26.300000,26.400000,26.450000,0.600000
50%,1.000000,230.000000,34.000000,27.800000,27.400000,27.600000,27.800000,1.500000
75%,1.000000,319.000000,50.000000,28.850000,28.800000,28.750000,28.950000,2.900000
max,2.000000,2170.000000,119.000000,31.900000,31.200000,31.600000,32.300000,11.300000

The columns:

* `AVG_ENG_MATH_SCORE_xx` The average score for the particular class of year xx. For a class, this metric is the higher the better
* `P_ABSENT_PERSIST` the absent ratio transformed somehow, the higher the worse.

This is multi dimensional data. We are interested in the relationship between those dimensions/ variables.

In [5]:
len(df)

207

In [6]:
df["AVG_ENG_MATH_SCORE_07"].mean()

27.497206703910614

In [7]:
df["AVG_ENG_MATH_SCORE_08"].mean()

27.518681318681317

In [8]:
df["AVG_ENG_MATH_SCORE_09"].mean()

27.566844919786096

In [9]:
df["AVG_ENG_MATH_SCORE_10"].mean()

27.72086330935252

In [10]:
df["P_ABSENT_PERSIST"].max()

11.3

In [11]:
df[df["P_ABSENT_PERSIST"] == 11.3]

,RecType,Schoolme,Address1,Address2,Address3,Town,PostCode,TelNum,SchoolType,TotPup,TotElig,AVG_ENG_MATH_SCORE_07,AVG_ENG_MATH_SCORE_08,AVG_ENG_MATH_SCORE_09,AVG_ENG_MATH_SCORE_10,P_ABSENT_PERSIST
0,1,Claremont Primary and Nursery School,Claremont Road,Off Huckll Road,,Nottingham,NG5 1BH,0115 9156870,CY,337,49.0,25.1,26.0,26.2,26.4,11.3

In [12]:
df["P_ABSENT_PERSIST"].mean()

2.067875647668394

In [13]:
df["AVG_ENG_MATH_SCORE_10"].min()

23.3

In [14]:
df[(df["P_ABSENT_PERSIST"] >df["P_ABSENT_PERSIST"].mean()) 
   & (df["AVG_ENG_MATH_SCORE_10"] > df["AVG_ENG_MATH_SCORE_10"].mean())]

,RecType,Schoolme,Address1,Address2,Address3,Town,PostCode,TelNum,SchoolType,TotPup,TotElig,AVG_ENG_MATH_SCORE_07,AVG_ENG_MATH_SCORE_08,AVG_ENG_MATH_SCORE_09,AVG_ENG_MATH_SCORE_10,P_ABSENT_PERSIST
32,1,Warren Primary School,Bewcastle Road,Top Valley,,Nottingham,NG5 9PJ,0115 9153760,CY,225,28.0,28.1,27.1,26.9,27.9,3.9
33,1,Old Basford Primary and Nursery School,Percy Street,Old Basford,,Nottingham,NG6 0GF,0115 9785505,CY,460,56.0,26.7,26.7,27.8,28.6,3.8
43,1,Parkdale Primary School,Parkdale Road,Carlton,,Nottingham,NG4 1BX,0115 9110066,CY,359,55.0,26.2,28.2,27.1,28.3,3.1
44,1,Porchester Junior School,Standhill Road,Carlton,,Nottingham,NG4 1LF,0115 9520920,CY,166,40.0,28.1,29.7,28.9,28.9,3.0
50,1,South Wilford Endowed CofE Primary School,Main Road,Wilford,,Nottingham,NG11 7AL,0115 9152967,VA,285,39.0,29.3,28.5,29.6,28.6,2.9
55,1,Brooklands Primary School,Clumber Street,Long Eaton,,Nottingham,NG10 1BX,0115 9732846,CY,421,55.0,28.9,28.3,29.7,28.0,2.7
56,1,Longmoor Primary School,Newstead Road,Long Eaton,,Nottingham,NG10 4JG,0115 9733368,CY,310,42.0,26.9,27.0,28.7,28.9,2.6
62,1,English Martyrs' Catholic Primary,Bracken Road,Long Eaton,,Nottingham,NG10 4DA,0115 9733209,VA,238,26.0,30.7,31.2,31.2,30.6,2.4
70,1,Carlton Central Junior School,Garden Avenue,Foxhill Road,Carlton,Nottingham,NG4 1QT,0115 9110402,CY,175,43.0,25.4,25.6,27.4,28.1,2.2
75,1,Awsworth Primary and Nursery School,The Lane,Awsworth,,Nottingham,NG16 2QS,0115 9321926,CY,248,29.0,26.7,27.2,26.8,28.4,2.1

In [15]:
#目的是想要filter出7-10年级成绩方差，从而判断某学校成绩是否稳定，有没有嫌疑
df[['AVG_ENG_MATH_SCORE_07','AVG_ENG_MATH_SCORE_08','AVG_ENG_MATH_SCORE_09','AVG_ENG_MATH_SCORE_10']].var(axis=1).sort_values(ascending=False)
#问题：如何直接filter出学校名称与其对应的值，两列，一列学校名称，一列variance
#下面是我的做法，略微有点诡异，先用得到的var set index with schoolname,然后reindex,再筛选

82     6.926667
95     5.323333
90     5.189167
151    4.029167
25     3.423333
108    3.125000
182    2.809167
40     2.730000
133    2.253333
28     2.250000
2      2.242500
155    2.216667
171    2.189167
92     2.086667
121    2.036667
183    1.880000
140    1.803333
184    1.803333
70     1.775833
42     1.755833
67     1.750000
65     1.720000
17     1.613333
98     1.603333
19     1.603333
149    1.562500
9      1.483333
160    1.450000
68     1.402500
186    1.323333
         ...
118    0.090000
132    0.090000
27     0.089167
148    0.083333
158    0.069167
156    0.062500
104    0.026667
22     0.020000
173    0.003333
60     0.003333
3           NaN
7           NaN
36          NaN
45          NaN
99          NaN
168         NaN
193         NaN
194         NaN
195         NaN
196         NaN
197         NaN
198         NaN
199         NaN
200         NaN
201         NaN
202         NaN
203         NaN
204         NaN
205         NaN
206         NaN
Length: 207, dtype: float64

In [16]:
var = df.set_index(df[['AVG_ENG_MATH_SCORE_07','AVG_ENG_MATH_SCORE_08','AVG_ENG_MATH_SCORE_09','AVG_ENG_MATH_SCORE_10']].var(axis=1))['Schoolme']

In [17]:
var = var.reset_index()

In [18]:
var[var['index']>3]

        index                                       Schoolme
25   3.423333                   Henry Whipple Primary School
82   6.926667            Bentinck Primary and Nursery School
90   5.189167                   Greenfields Community School
95   5.323333                     Langar CofE Primary School
108  3.125000    Bottesford Church of England Primary School
151  4.029167  Riverside Primary School and Early Years Unit

In [19]:
df[['AVG_ENG_MATH_SCORE_07','AVG_ENG_MATH_SCORE_08','AVG_ENG_MATH_SCORE_09','AVG_ENG_MATH_SCORE_10']].skew(axis=0).sort_values(ascending=False)
#偏度能帮助判断其大体分布形态，可以知道将其处理为正态分布是否可行。Sk> 0，且Sk值越大，右偏程度越高；Sk< 0，且Sk值越小，左偏程度越高

AVG_ENG_MATH_SCORE_09   -0.038742
AVG_ENG_MATH_SCORE_10   -0.152395
AVG_ENG_MATH_SCORE_08   -0.224148
AVG_ENG_MATH_SCORE_07   -1.352412
dtype: float64

In [20]:
df[['AVG_ENG_MATH_SCORE_07','AVG_ENG_MATH_SCORE_08','AVG_ENG_MATH_SCORE_09','AVG_ENG_MATH_SCORE_10']].kurtosis(axis=0).sort_values(ascending=False)
#峰度（Kurtosis）衡量实数随机变量概率分布的峰态。峰度高就意味着方差增大是由低频度的大于或小于平均值的极端差值引起的。

AVG_ENG_MATH_SCORE_07    6.934606
AVG_ENG_MATH_SCORE_10   -0.036167
AVG_ENG_MATH_SCORE_08   -0.428693
AVG_ENG_MATH_SCORE_09   -0.478333
dtype: float64

In [21]:
#对15行问题的尝试2
#这样做filter能够筛选出方差在3以上，但是具体值对应的学校并不知道
df[df[['AVG_ENG_MATH_SCORE_07','AVG_ENG_MATH_SCORE_08','AVG_ENG_MATH_SCORE_09','AVG_ENG_MATH_SCORE_10']].var(axis=1)>3]

,RecType,Schoolme,Address1,Address2,Address3,Town,PostCode,TelNum,SchoolType,TotPup,TotElig,AVG_ENG_MATH_SCORE_07,AVG_ENG_MATH_SCORE_08,AVG_ENG_MATH_SCORE_09,AVG_ENG_MATH_SCORE_10,P_ABSENT_PERSIST
25,1,Henry Whipple Primary School,Padstow Road,Bestwood,,Nottingham,NG5 5GH,0115 9155723,CY,179,26.0,NaN,27.9,29.7,26.0,4.5
82,1,Bentinck Primary and Nursery School,Alfreton Road,,,Nottingham,NG7 4AA,0115 9151567,CY,268,29.0,24.8,24.3,23.8,29.5,1.9
90,1,Greenfields Community School,Orange Gardens,,The Meadows,Nottingham,NG2 2JE,0115 9153762,CY,243,26.0,24.2,25.2,28.2,28.9,1.7
95,1,Langar CofE Primary School,Barnstone Road,Langar,,Nottingham,NG13 9HH,01949 860056,VC,91,15.0,NaN,29.1,25.5,29.8,1.5
108,1,Bottesford Church of England Primary School,Silverwood Road,Bottesford,,Nottingham,NG13 0BS,01949 842224,VC,215,36.0,NaN,NaN,28.2,30.7,1.1
151,1,Riverside Primary School and Early Years Unit,Ainsworth Drive,The Meadows,,Nottingham,NG2 1FX,0115 9153898,CY,203,22.0,23.3,27.0,27.1,27.7,0.6

In [ ]:
df["AVG_ENG_MATH_SCORE_10"].median()

In [ ]:
df["AVG_ENG_MATH_SCORE_10"].quantile(0.8) #90th percentile

In [ ]:
df["AVG_ENG_MATH_SCORE_10"].quantile(0.7) #70th percentile

In [ ]:
df['P_ABSENT_PERSIST'].hist(bins=20)

**Question**:

* What do you conclude from this histogram?
* What would you do next to mine the news?

In [ ]:
df['AVG_ENG_MATH_SCORE_07'].hist(bins=20)

In [ ]:
df[df['AVG_ENG_MATH_SCORE_07'] < 16]

In [ ]:
plt.subplot(2, 2, 1)
df['AVG_ENG_MATH_SCORE_07'].hist(bins=10)
plt.title('AVG_ENG_MATH_SCORE_07')

plt.subplot(2, 2, 2)
df['AVG_ENG_MATH_SCORE_08'].hist(bins=10)
plt.title('AVG_ENG_MATH_SCORE_08')


plt.subplot(2, 2, 3)
df['AVG_ENG_MATH_SCORE_09'].hist(bins=10)
plt.title('AVG_ENG_MATH_SCORE_09')


plt.subplot(2, 2, 4)
df['AVG_ENG_MATH_SCORE_10'].hist(bins=10)
plt.title('AVG_ENG_MATH_SCORE_10')

## The relationship between absence and score

In [ ]:
df.plot('P_ABSENT_PERSIST', 'AVG_ENG_MATH_SCORE_09', kind='scatter')

The higher the absence ratio, the lower the test score in general. Two questions:

* Is this relationship strong enough?
* What are the outliers?

In [ ]:
help(df['P_ABSENT_PERSIST'].corr)

In [ ]:
df['P_ABSENT_PERSIST'].corr(df['AVG_ENG_MATH_SCORE_09'], method='pearson')

**Note**:

* Pearson correlation is between [-1, 1]
* Values around 0 means no correlation/ weak correlation
* Values near 1 and -1 can be interpreted as strong (linear) correlation

Pearson correlation does not work very well with non-linear correlation or when the variables are not (jointly) normally distributed. It is also senstive to outliers. Spearman's rank correlation can help here.

In [ ]:
df['AVG_ENG_MATH_SCORE_09'].rank()[:10]

In [ ]:
df['P_ABSENT_PERSIST'].corr(df['AVG_ENG_MATH_SCORE_09'], method='spearman')

In [ ]:
df['P_ABSENT_PERSIST'].rank().corr(df['AVG_ENG_MATH_SCORE_09'].rank(), method='spearman')

**Quiz**:

* Why the above two works the same?

In [ ]:
sum(df['AVG_ENG_MATH_SCORE_09'].rank() == df['AVG_ENG_MATH_SCORE_09'].rank().rank())

In [ ]:
len(df['AVG_ENG_MATH_SCORE_09'].rank())

### The correlation for all grades

In [ ]:
df['P_ABSENT_PERSIST'].corr(df['AVG_ENG_MATH_SCORE_10'], method='spearman')

In [ ]:
df['P_ABSENT_PERSIST'].corr(df['AVG_ENG_MATH_SCORE_09'], method='spearman')

In [ ]:
df['P_ABSENT_PERSIST'].corr(df['AVG_ENG_MATH_SCORE_08'], method='spearman')

In [ ]:
df['P_ABSENT_PERSIST'].corr(df['AVG_ENG_MATH_SCORE_07'], method='spearman')

## Better visualisation

In [ ]:
df.plot('P_ABSENT_PERSIST', 'AVG_ENG_MATH_SCORE_09', kind='scatter')

In [ ]:
sns.regplot(df['P_ABSENT_PERSIST'], df['AVG_ENG_MATH_SCORE_09'])

In [ ]:
#help(np.polyfit)

In [ ]:
np.polyfit(df['P_ABSENT_PERSIST'].fillna(0), df['AVG_ENG_MATH_SCORE_09'].fillna(0), 1)

**Quiz**: What does it look like if we plot above line? The return value of `polyfit` is Polynomial coefficients, highest power first.

**NOTE:** Try the codes without `filena` and observe the error. Now it is time to do some cleaning.

In [ ]:
na_selector = df['P_ABSENT_PERSIST'].isna()
na_selector |= df['AVG_ENG_MATH_SCORE_07'].isna()
na_selector |= df['AVG_ENG_MATH_SCORE_08'].isna()
na_selector |= df['AVG_ENG_MATH_SCORE_09'].isna()
na_selector |= df['AVG_ENG_MATH_SCORE_10'].isna()

In [ ]:
len(df[na_selector])

In [ ]:
len(df)

In [ ]:
len(df[~na_selector])

In [ ]:
df_cleaned = df[~na_selector]

In [ ]:
np.polyfit(df_cleaned['P_ABSENT_PERSIST'].fillna(0), 
           df_cleaned['AVG_ENG_MATH_SCORE_09'].fillna(0), 
           1)

The prediction: y_hat = 28.54239409 + (-0.44654826) * x

In [ ]:
absent = df_cleaned['P_ABSENT_PERSIST']
score_grade09 = df_cleaned['AVG_ENG_MATH_SCORE_09']

In [ ]:
estimated_score_grade09 =  28.54239409 + (-0.44654826) * absent

In [ ]:
(score_grade09 - estimated_score_grade09).hist()

In [ ]:
df_cleaned[(score_grade09 - estimated_score_grade09) > 3]

In [ ]:
df_cleaned[(score_grade09 - estimated_score_grade09) > 2.5]

In [ ]:
s = (score_grade09 - estimated_score_grade09)

Get the threshold value for 95% percentile

In [ ]:
s.quantile(0.95)

In [ ]:
df_cleaned[s > s.quantile(0.95)].plot(
    x='P_ABSENT_PERSIST', 
    y='AVG_ENG_MATH_SCORE_09', 
    kind='scatter')

In [ ]:
ax = sns.regplot(df_cleaned['P_ABSENT_PERSIST'], df_cleaned['AVG_ENG_MATH_SCORE_09'])
df_cleaned[s > s.quantile(0.95)].plot(
    x='P_ABSENT_PERSIST', 
    y='AVG_ENG_MATH_SCORE_09', 
    kind='scatter',
    color='red',
    ax=ax)

We can adjust the quantile to include/ exclude suspecious schools.

In [ ]:
ax = sns.regplot(
    df_cleaned['P_ABSENT_PERSIST'], 
    df_cleaned['AVG_ENG_MATH_SCORE_09'],
)
df_cleaned[s > s.quantile(0.90)].plot(
    x='P_ABSENT_PERSIST', 
    y='AVG_ENG_MATH_SCORE_09', 
    kind='scatter',
    color='red',
    ax=ax)

### A more primitive/ finer controlled way of plotting using matplotlib

Two common tricks for better visuals:

* Add jitter to further scatter the data points
* Use transparency to help identify density

In [ ]:
plt.figure(figsize=(10, 5))
plt.scatter(
    df_cleaned['P_ABSENT_PERSIST'], 
    df_cleaned['AVG_ENG_MATH_SCORE_09'],
    s=80, alpha=0.5)

In [ ]:
plt.figure(figsize=(10, 5))
plt.scatter(
    df_cleaned['P_ABSENT_PERSIST'] + np.random.normal(0, 0.1, len(df_cleaned)), 
    df_cleaned['AVG_ENG_MATH_SCORE_09'] + np.random.normal(0, 1, len(df_cleaned)),
    s=80, alpha=0.5)

In [ ]:
coeffs = np.polyfit(df_cleaned['P_ABSENT_PERSIST'].fillna(0), 
           df_cleaned['AVG_ENG_MATH_SCORE_09'].fillna(0), 
           1)

In [ ]:
coeffs

In [ ]:
trendline_x = np.linspace(df_cleaned['P_ABSENT_PERSIST'].min(), df_cleaned['P_ABSENT_PERSIST'].max())
trendline_y = coeffs[0] * trendline_x + coeffs[1]

In [ ]:
plt.figure(figsize=(10, 5))

plt.scatter(
    df_cleaned['P_ABSENT_PERSIST'] + np.random.normal(0, 0.1, len(df_cleaned)), 
    df_cleaned['AVG_ENG_MATH_SCORE_09'] + np.random.normal(0, 1, len(df_cleaned)),
    s=80, alpha=0.5)

plt.plot(trendline_x, trendline_y, linewidth=5)

plt.scatter(
    df_cleaned[s > s.quantile(0.90)]['P_ABSENT_PERSIST'],
    df_cleaned[s > s.quantile(0.90)]['AVG_ENG_MATH_SCORE_09'],
    color='red'
)

Jitter is good to present data but you need to track how the data is jittered in order to aligh multiple plots. The complete version is followed.

In [ ]:
plt.figure(figsize=(10, 5))

# Plot main bubbles

x = df_cleaned['P_ABSENT_PERSIST']
x_jitter = x + np.random.normal(0, 0.05, len(df_cleaned))
y = df_cleaned['AVG_ENG_MATH_SCORE_09'] 
y_jitter = y + np.random.normal(0, 0.1, len(df_cleaned))

plt.scatter(
    x_jitter, 
    y_jitter,
    s=80, alpha=0.5)

# Fit the curve (a line) and plot trendline

coeffs = np.polyfit(x, y, 1)

trendline_x = np.linspace(x.min(), x.max())
trendline_y = coeffs[0] * trendline_x + coeffs[1]

plt.plot(trendline_x, trendline_y, linewidth=5)

# Identify suspecious schools, highlight and label texts

estimated_y = coeffs[0] * x + coeffs[1]
s = y - estimated_y

suspecious_x = x_jitter[s > s.quantile(0.90)].values
suspecious_y = y_jitter[s > s.quantile(0.90)].values
suspecious_t = df_cleaned[s > s.quantile(0.90)]['Schoolme'].values
plt.scatter(
    suspecious_x,
    suspecious_y,
    color='red'
)
for i in range(len(suspecious_t)):
    plt.text(suspecious_x[i], suspecious_y[i], suspecious_t[i])

In [ ]:
#suspecious_x

## Conclude the story points

* English and math testing score is plausibly negatively correlated with absence.
* The Spearman rank correlation for grade 10, 9, 8, 7 are -0.4977757689875953, -0.5810765727681304, -0.6002183459864541, -0.5038740642509405
   * The correlation is much stronger for Grade 9 and 8
* There are some outliers who have a high absence ratio but achieve high scores at the same time. After journalists conduct the field invetigation, they find those schools conduct extensive "tutorial schools" for testing score purpose